#players,
#background,
#scenery {
    position: absolute;
    top: 0;
    left: 0;
}

#game {
    position: relative;
    float: left;         
}

#players {
    float: left;
}

#background {
    position: relative;
    overflow: hidden;
    background-color: #7AE0FF;
}

#background table {
    position: absolute;
    left: 0;
}

.magicTable {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}