body {
    background: #000;
}

#game {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}


#players,
#background,
#scenery {
    position: absolute;
    top: 0;
    left: 0;
}


#players {
    float: left;
}

#background {
    position: relative;
    overflow: hidden;
    background-color: #7AE0FF;
}

#background table,
#background canvas {
    position: absolute;
    left: 0;
}

.magicTable {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

.message {
    font-family: 'Press Start 2P', cursive;      
    font-size:2em;
    position: absolute;
    top: 100px;
    width: 200px;
    left: 80px;
    display: block;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    z-index: 100;
}

.message:hover {
    background: #000;
    color: #fff;
}

.leftButton,
.middleButton,
.rightButton {
    position: absolute;
    height: 100%;
    width: 33.333%;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
}

.rightButton {
    right: 0;
    left: auto;
}

.middleButton {
    left: 33.333%;
}


